@media only screen and (max-width: 600px) {
     #p1{
        margin-left: 27vw;
    margin-top: 22px;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    #p2{
        margin-left: 4vw;
    font-size: 19px;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .skills{
        margin-top: -20px;
    }
    .skills-column{
        display: flex;
        flex-direction: column;
        margin-left: 0%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .skills-column ul li{
        list-style: none;
    padding-bottom: 1vw;
    }
    .language ,.web-developer ,.data-base ,.course-work ,.dev-tools{
        border: 1px;
        border-radius: 30px;
        border-width: 10px;
        
    }
    .language{
        margin-left: -9vw;
        height: 0vw;
        width: 70vw;
        padding-top: 16px;
    }
    .language ,.web-developer ,.data-base ,.course-work ,.dev-tools li{
        font-size: 18px;
        padding-bottom: 200px;
    }
    .skills h2{
        text-decoration: solid underline;
        margin-bottom: 0px;
        margin-top: -6vw;
        font-size: 28px;
    }
    
    
    
    .web-developer{
        margin-left: -9vw;
        margin-top: 8vw;
        background-color: red;
        height: 0vw;
        width: 70vw;
        padding-top: 21px;
    }
    .list-2{
     display: flex;
     margin-left: 50px;
    }
    .list-2 ul{
        margin-top: 20px;
        margin-left: 15px;
    }
    .data-base{
        margin-left: -9vw;
        margin-top: 7vw;
        height: 0vw;
        width: 70vw;
        padding-top: 13px;
        background-color: red;
    }
    
    .course-work{
        margin-left: -17vw;
        height: 0vw;
        width: 70vw;
        padding-top: 12px;
        background-color: blue
    }
    .dev-tools{
        height: 33vw;
        width: 70vw;
        padding-top: 14px;
        background-color: aqua;
        margin-top: 13vw;
        margin-left: -17vw;
    
    }
    .row-1{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 87px;
        padding: 0px;
        font-size: 88px;
    }
    .row-2{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 118px;
        margin-top: -5vw;
        padding: 0px;
        font-size: 88px;
    }
    #c, #cpp, #py, #html, #mysql, #ds, #algo, #vscode, #git, #css, #js, #react, #node, #express, #mongo{
        
        height: 0px;
    }
    
}
@media only screen and (min-width: 601px) and (max-width: 800px) {
    .skills {
        height: 290vw;
    }
    #p2 {
        padding-top: 25px;
        padding-bottom: 24px;
        margin-left: 5vw;
        font-size: 27px;
    }
    .row-1 {
        flex-direction: column;
        margin: 0px;
    }
    .language {
        margin-right: -7vw;
        height: 39vw;
        width: 72vw;
        padding-top: 29px;
    }
    .language, .web-developer, .data-base, .course-work, .dev-tools {
        font-size: 26px;
    margin-right: -7vw;
    height: 39vw;
    width: 72vw;
    padding-top: 24px;
    margin-left: 100px;
    margin-bottom: 44px;
    }
    .row-2 {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: 0vw;
    }
}